//-- Main --//
// bower:scss
// endbower


@import "base", "fontface";


body {
}
.gyro {
	position: relative;
	text-align: center;
	border: 1px solid #ccc;
	width: 100%;
	li {
		display: block;
		width: 90px;
		margin: 2em auto;
		border-radius: 3px;
		background: steelblue;
		color: white;
		font-weight: bold;
		position: relative;
	}
}
	
		


@import "social";
